html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

body{
  background-image: url('full bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}


#header_page{
  height:60px;
  display:flex;
  align-items: flex;
  justify-content: space-between;
}

#sign_in_button{
  height:45px;
  width:90px;
  background-color: rgba(190, 132, 45, 1);
  border-radius: 25px;
  border: none;
  color:white;
}

#sign_in_button:hover{
  color:#4c9ed9;
}

#content_div{
  display:flex;
  align-items: flex;
  justify-content: center;
  padding: 20px;
}

#main_logo{
   Width:220px;
   Height:175px;
   padding: 60px;
 }

 #text1{
   padding: 60px;
   color: white;
   font-size:50px;
   position: static;
 }


 #info
 {
   margin-top: 200px;
   height:600px;
   padding: 20px;
   display:relative;

 }

#info_sub{
  margin-left: 47%;
  padding-bottom: 20px;
}

 #text2
 {
   font-size: 25px;
   color: white;
 }

 #info_sub_p2{
   display: flex;
   border:1px white solid;
   border-radius: 20px;
   height:220px;
   width: 40%;
   margin-left: 30%;
   gap:2px;
   padding: 30px;
   overflow: hidden;
 }

 #text3{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size:1.5em;
line-height: 22px;
text-align: justify;
letter-spacing: 0.14em;
text-transform: capitalize;
color:white;
 }


 #foot
 {
   width: 100%;
position: relative;
display: flex;
bottom: -639px;
align-items: center;
justify-content: center;
grid-gap: 70px;
 }
